$btn-primary: #17a2b8;

$deakin-primary: #007d98;

$text-dark: #343a40;

$bg-grey: #e9ecef;
$bg-footer: #f8f9fa;

$facebook-primary: #3b5998;
$twitter-primary: #55acee;
$linked-in-primary: #0976b4;
$youtube-primary: #e52d27;
$instagram-primary: #3f729b;

$color-white: #fff;