.btn {
  text-decoration: none;
  display: inline-block;
  padding: .6rem 1rem;
  border-radius: .35rem;

  @media (min-width: $tablet) {
    font-size: .8rem;
  }

  @media (min-width: $laptop) {
    font-size: 1.2rem;
  }

  @media (min-width: $laptop-large) {
    font-size: 1.4rem;
  }

  &--outline-turqoise {
    background-color: transparent;
    transition: all .2s;
    &:hover {
      background-color: $btn-primary;
      color: #fff;
    }
  }
  &--turqoise {
    color: $btn-primary;
    border: 1px solid $btn-primary;
  }

  &--dark {
    color: $text-dark;
    border: 1px solid $text-dark;
  }

  &--outline-dark {
    background-color: transparent;
    transition: all .2s;
    &:hover {
      background-color: $text-dark;
      color: #fff;
    }
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--large {
    @media (min-width: $tablet) {
      font-size: .8rem;
    }
  
    @media (min-width: $laptop) {
      font-size: 1.2rem;
    }
  
    @media (min-width: $laptop-large) {
      font-size: 1.65rem;
    }
  
  }
}
