.landing {
    background-color: $bg-grey;
    text-align: center;

    padding: 5.5rem;
    &__heading {
        font-weight: bold;
        padding: 2.5rem;

        @media (min-width: $tablet) {
            font-size: 1.75rem;
          }
        
          @media (min-width: $laptop) {
            font-size: 2.5rem;
          }
        
          @media (min-width: $laptop-large) {
            font-size: 3.5rem;
          }
    }
    &__body {
        width: 75%;
        margin: 0 auto;
        padding: 1rem;

        @media (min-width: $tablet) {
            font-size: 1.75rem;
          }
        
          @media (min-width: $laptop) {
            font-size: .95rem;
            line-height: 1.6rem;
          }
        
          @media (min-width: $laptop-large) {
            font-size: 1.2rem;
            line-height: 2.2rem;
          }
    }
    &__group {
        padding: 1rem;

        & .btn {
            &:not(:first-child)
            {
                margin-left: 1rem;
            }
        }
    }
}