.login {
    display: flex;
    justify-content: center;
    .form {
        display: flex;
        flex-direction: column;
        width: 20%;
        &__welcome {

        }
        &__login {

        }
        &__input {

        }
        &__button {
            font-size: 1.2rem;
            text-align: center;
            padding: .8rem .6rem;
            margin: 1rem 0;
            border: none;
            background-color: $btn-primary;
            cursor: pointer;
            color: $color-white;
            border-radius: .2rem;

        }
        &__sign-up {
            font-size: 1rem;
            text-align: center;
        }
        &__forgot {
            font-size: 1rem;
            text-align: center;
        }
    }
}