.portfolio {
    background-color: $bg-grey;
    padding: 5rem 4rem;
    text-align: center;
    &__title {
        color: $deakin-tertiary;
        font-size: 4rem;
        margin-bottom: 1.6rem;
    }   
    &__body {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
    &__image-container {
        display: flex;
        justify-content: center;
    }
}